body {
  font-family: "exo 2", sans-serif;
}

:root {
  --pink: #ff4081;
  --black: #292929;
  --cream: #f0f0f0;
  --white: #ddd;
  --grey: #757575;
  --light-grey: #e2e2e2;
}

/* Margin utilities */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}

/* Padding utilities */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}

/* Font utilities */
.font-normal {
  font-weight: normal;
}
.font-bold {
  font-weight: bold;
}
.font-italic {
  font-style: italic;
}
.font-underline {
  text-decoration: underline;
}
.font-large {
  font-size: 2rem;
}
.font-medium {
  font-size: 1.25rem;
}
.font-small {
  font-size: 0.8rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/* Light mode colors */

.bg-light--primary {
  background-color: var(--cream);
}
.bg-light--secondary {
  background-color: var(--white);
}
.bg-light--accent {
  background-color: var(--pink);
}
.text-light--primary {
  color: var(--black);
}
.text-light--secondary {
  color: var(--grey);
}
.text-light--accent {
  color: var(--pink);
}

/* Dark mode colors */
.bg-dark--primary {
  background-color: var(--black);
}
.bg-dark--secondary {
  background-color: var(--grey);
}
.bg-dark--accent {
  background-color: var(--pink);
}
.text-dark--primary {
  color: var(--white);
}
.text-dark--secondary {
  color: var(--cream);
}
.text-dark--accent {
  color: var(--pink);
}

/* Responsive utilities */
.flex {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
.flex--row {
  flex-direction: row;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--nowrap {
  flex-wrap: nowrap;
}
.flex--center {
  justify-content: center;
  align-items: center;
}
.flex--start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex--end {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex--between {
  justify-content: space-between;
  align-items: center;
}
.flex--around {
  justify-content: space-around;
  align-items: center;
}
.flex--evenly {
  justify-content: space-evenly;
  align-items: center;
}
.flex--stretch {
  justify-content: stretch;
  align-items: stretch;
}
.flex--baseline {
  justify-content: space-between;
  align-items: baseline;
}
.flex--center--h {
  justify-content: center;
}
.flex--start--h {
  justify-content: flex-start;
}
.flex--end--h {
  justify-content: flex-end;
}
.flex--between--h {
  justify-content: space-between;
}
.flex--around--h {
  justify-content: space-around;
}
.flex--evenly--h {
  justify-content: space-evenly;
}
.flex--stretch--h {
  justify-content: stretch;
}
.flex--baseline--h {
  justify-content: space-between;
}
.flex--center--v {
  align-items: center;
}
.flex--start--v {
  align-items: flex-start;
}
.flex--end--v {
  align-items: flex-end;
}
.flex--between--v {
  align-items: space-between;
}
.flex--around--v {
  align-items: space-around;
}
.flex--evenly--v {
  align-items: space-evenly;
}
.flex--stretch--v {
  align-items: stretch;
}
.flex--baseline--v {
  align-items: baseline;
}

/* Border utilities */
.border {
  border: 1px solid var(--light-grey);
}

/* Shadow utilities */
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Radius utilities */

.rounded {
  border-radius: 5px;
}

/* Width utilities */

.auth-modal-width {
  width: 600px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

/* Height utilities */

.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.h-100 {
  height: 100%;
}

.h-full {
  height: 100vh;
}

/* button utilities */

.btn {
  font-family: "exo 2", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--pink);
  color: var(--white);
}

.text-center {
  text-align: center;
}
